.lime {
	border:#000000;
	border:medium;
	left:1137px;
	float:right;
	position:absolute;
	border-spacing:0;
	margin-top:0px;
	top: 85px;
	width: 213px;
	height: 588px;
	background-color: #000000;
}
@charset "utf-8";
/* CSS Document */
